body {
    font-family: "Orbitron", sans-serif;
}

.main-header {
    background-color: #212121;
    color: #9A9999;
    padding: 30px 0;
}

.header-light {
    background-color: #f1f1f1;
}

.main-nav ul li a {
    color: #9A9999;
    text-decoration: none;
    transition: 0.3s;
}

.container {
    width: 1180px;
    margin: 0 auto;
}

.container-flex {
    display: flex;
}

.main-nav nav ul{
    display: flex;
    gap: 20px;
    font-size: 14px;
}

.main-header .container-flex {
    justify-content: space-between;
    align-items: center;
}

.main-nav ul li a:hover {
    color: #ffff;
    transition: all 0.3s;
}

.header-light .main-nav ul li a:hover {
    color: #212121;
    transition: all 0.3s;
}

.hero {
    background-image: url(../Assets/banner-1.avif);
    background-size: cover;
    background-position: center;
    padding: 60px 0;
}

.hero h1 {
    font-size: 36px;
    color: #fff;
    font-weight: normal;
    line-height: 1.2;
}

.hero p {
    font-size: 16px;
    color: #fff;
    line-height: 2;
    margin: 20px 0;
    font-weight: 300;
}

.hero .container-flex {
    flex-direction: column;
    justify-content: space-between;
    height: 70vh;
}

.brand {
    text-align: center;
}

.brand img {
    width: 380px;
    margin: 0 auto;
}

.hero-btns {
    display: flex;
    gap: 20px;
}

.btn-primary {
    background-color: #212121;
    color: #9A9999;
    border: none;
    font-family: "Orbitron", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px 80px;
    border-radius: 2px;
}

.active {
    border-top: 3px solid #9A9999;
}

.text-hero {
    width: 50%;
}

.grid-cars {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    gap: 40px;
}

.grid-cars article img {
    max-width: 100%;
    margin-top: 40px;
}

h2.car-model {
    font-size: 14px;
    color: #212121;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: 700;
    margin: 20px;
}

h3 {
    font-size: 14px;
    color: #9A9999;
    letter-spacing: 10px;
}

.links {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.links a {
    color: #9A9999;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.links a:hover {
    color: #212121;
    text-decoration: none;
}

.main-grid {
    padding: 60px 10px;
}

.full-banner {
    background-position: center;
    background-size: cover;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 60px 0;
}

.full-banner h4 {
    color: #fff;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 15px;
}

.btn-banner {
    display: flex;
    gap: 20px;
}

.btn {
    border: none;
    font-family: "Orbitron", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    padding: 15px 80px;
    border-radius: 2px;
    font-size: 10px;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover {
    opacity: 0.85;
    transition: all 0.3s;
}

.btn-blue {
    background-color: #3E5AE1;
    color: #fff;
}

.btn-white {
    background-color: #fff;
    color: #828282;
}

.bottom-text {
    background-color: #fff;
    padding: 60px 0;
}

.bottom-text p {
    font-family: sans-serif;
    color: #828282;
    font-size: 12px;
    line-height: 2;
    text-align: center;
    margin-bottom: 20px;
}

.text-block {
    width: 40%;
    margin: 0 auto;
}

.menu-footer{
    text-align: center;
    padding-bottom: 40px;
}

.menu-footer ul{
    display: flex;
    justify-content: space-between;
}

.menu-footer ul li a{
    text-decoration: none;
    font-size: 10px;
    color: #212121;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.menu-footer ul li a:hover {
    color: #3E5AE1;
}

.brand-footer {
    text-align: center;
    padding: 40px 0;
}

.banner-car {
    padding: 60px 0;
}

.banner-car h2 {
    color: #9A9999;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 10px;
}

.banner-car h1 {
    color: #212121;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
    font-weight: 600;
}

.photo-car {
    text-align: center;
}

.grid-features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.item-feature {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item-feature img{
    max-width: 100%;
    border-radius: 4px;
}

.item-feature h3{
    color: #000000;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}

.item-feature p {
    color: #828282;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 1px;
}

.banner {
    padding: 60px 0;
}

.banner img {
    max-width: 100%;
    border-radius: 8px;
}

.contact-form {
    background-color: #2e2e2e;
    padding: 80px 0;
}

.contact-form h4 {
    color: #81a3fe;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-bottom: 40px;
}

.contact-form hr {
    margin: 40px 0;
    opacity: 0.2;
}

.form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.item-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.item-form label {
    color: #c5c5c5;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.item-form input {
    height: 48px;
    border-radius: 0;
    border: none;
    font-size: 16px;
    font-family: "Orbitron", sans-serif;
    padding-left: 15px;
    padding-left: 15px;
}

.btn-black {
    background-color: #000000;
    color: #fff;
}

.form-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mobile-nav div {
    width: 32px;
    height: 1px;
    background-color: #fff;
}

.mobile-nav {
    display: flex;
    flex-direction: column;
    gap: 8px;
    display: none;
}
  